[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=tilebooru
X-Python-2-Compatible=false
X-Krita-Manual=tilebooru_manual.html
Name=Tilebooru Images
Comment=An advanced Krita Plugin, laser-focused on improving productivity for photo-bashing and references!
